## Python statistics essential training - 03_02_distributions

Standard imports

In [2]:
import numpy as np
import scipy.stats
import pandas as pd

In [3]:
import matplotlib
import matplotlib.pyplot as plt

from IPython import display
from ipywidgets import interact, widgets

%matplotlib inline

In [4]:
import re
import mailbox
import csv

In [5]:
china1965 = pd.read_csv('income-1965-china.csv')
china2015 = pd.read_csv('income-2015-china.csv')
usa1965 = pd.read_csv('income-1965-usa.csv')
usa2015 = pd.read_csv('income-2015-usa.csv')

In [6]:
china1965.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
income          1000 non-null float64
log10_income    1000 non-null float64
dtypes: float64(2)
memory usage: 15.8 KB

In [7]:
china1965.head()

     income  log10_income
0  1.026259      0.011257
1  0.912053     -0.039980
2  0.110699     -0.955857
3  0.469659     -0.328217
4  0.374626     -0.426402

In [8]:
china1965.mean()

income          0.660597
log10_income   -0.274157
dtype: float64

In [9]:
china1965.var(ddof=0)

income          0.208846
log10_income    0.088610
dtype: float64

In [11]:
china1965.quantile([0.25,0.75])

        income  log10_income
0.25  0.344130     -0.463277
0.75  0.863695     -0.063640